/* 
.navbar{
    background-color: rgb(221, 61, 61);
    height: 20vh;
    width: 100%;
    display:flex;
    position: relative;
    align-items: flex;
}   

.logo{
    width: 100%;
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0 0.188em 1.55em rgb(100, 156,156,156);
}

.logo ul{
   background-color: aqua;
   padding:20px;
   display: flex;
   width:100%;
}

.logo ul Link{
    padding:20px;
    color: rgb(145, 127, 127);
    justify-content: space-around;

} */
